.adminNavbar {
   background: $primary;
   height: 6vh;
   width: 70%;
   margin: 0.5vh 0 0 15%;
   border-radius: 0 0 40px 40px;

   ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      font-size: 20px;
      font-weight: 600;
   }
}