.logout {
   position: absolute;
   right: 5vh;

   button {
      background: none;
      border: none;
      font-size: 23px;
      font-weight: 600;
      outline: none;
      cursor: pointer;
   }
}