.mainNavbar {
   background: $primary;
   height: 10vh;
   padding-left: 30px;
   color: white;
   display: flex;
   align-items: center;
}

.navbarLogo {
   height: 5.5vh;
}

.navbarLinks {
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   font-size: 22px;
   font-weight: 600;
}

li {
   color: black;
   margin-left: 50px;
   &:hover {
      color: white;
   }
}

#userPageButton {
   color: black;
   font-size: 4.5vh;
   position: absolute;
   right: 30px;
   top: 2.7vh;
   &:hover {
      color: white;
   }
}